annotated-types==0.7.0
beautifulsoup4==4.13.3
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
dynaconf==3.2.10
frozendict==2.4.6
google-auth==2.38.0
google-genai==1.2.0
idna==3.10
multitasking==0.0.11
narwhals==1.29.0
nsepython==2.94
numpy==2.2.3
packaging==24.2
pandas==2.2.3
peewee==3.17.9
platformdirs==4.3.6
plotly==6.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.6
pydantic_core==2.27.2
PySide6==6.8.2.1
PySide6_Addons==6.8.2.1
PySide6_Essentials==6.8.2.1
python-dateutil==2.9.0.post0
pytz==2025.1
requests==2.32.3
rsa==4.9
scipy==1.15.2
shiboken6==6.8.2.1
six==1.17.0
soupsieve==2.6
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
websockets==14.2
yfinance==0.2.54
